name: Build
on:
  workflow_call:
    inputs:
      site_repo:
        description: "The site repo to checkout."
        required: true
        type: string
      site_ref:
        description: "The site repo branch, tag, or SHA to checkout."
        required: true
        type: string
      theme_repo:
        description: "The theme repo to checkout."
        required: true
        type: string
      theme_ref:
        description: "The theme repo branch, tag, or SHA to checkout."
        required: true
        type: string
      base_url:
        description: "The base URL that the site will be deployed to. Examples: 'https://octocat.github.io/my-repo', 'https://octocat.github.io', 'https://www.example.com'."
        required: true
        type: string
    secrets:
      site_repo_token:
        description: "A GitHub token to use when checking out site_repo"
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - uses: actions/checkout@v6
        with:
          repository: ${{ inputs.site_repo }}
          ref: ${{ inputs.site_ref }}
          token: ${{ secrets.site_repo_token }}
      - uses: actions/checkout@v6
        with:
          repository: ${{ inputs.theme_repo }}
          ref: ${{ inputs.theme_ref }}
          path: ".theme"
      - run: python3 -m venv .venv
      - run: .venv/bin/pip install -r requirements/dev.txt
      - run: |
          .venv/bin/pelican \
          --settings pelicanconf.py \
          --extra-settings \
          SITEURL='"${{ inputs.base_url }}"' \
          FEED_DOMAIN='"${{ inputs.base_url }}"' \
          --theme-path .theme
      - run: |
          echo "::group::Archive artifact"
          tar \
            --dereference \
            --hard-dereference \
            --directory output \
            -cvf "$RUNNER_TEMP/artifact.tar" \
            --exclude=.git \
            --exclude=.github \
            .
          echo "::endgroup::"
      - uses: actions/upload-artifact@v5
        with:
          name: github-pages
          path: ${{ runner.temp }}/artifact.tar
          retention-days: 1
          if-no-files-found: error
          include-hidden-files: true
