on:
  workflow_call:
    inputs:
      repo:
        type: string
        required: true
      run_id:
        type: string
        required: true
    secrets:
      token:
        required: true
jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: "pages"
      cancel-in-progress: true
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/download-artifact@v8
        with:
          name: github-pages
          repository: ${{ inputs.repo }}
          run-id: ${{ inputs.run_id }}
          github-token: ${{ secrets.token }}
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: output/
      - uses: actions/deploy-pages@v4
